img{ 

width: 350px




}


h1 {font-size: 72px;
  text-align: center;
  font-family: Lucida Console;



}


body{ font-size: 20px;
background-color: lightyellow;





}

div{
	  font-weight: bold;
}

